/* Footer Settings */
@keyframes hoverFade {
    to {color: #FF9700;}
}
.footer {
    background-color: #444871;
    min-height: 1in;
}
.footer-banner {
    background-color: #313451;
    box-shadow: 0 8px 8px 0 #222;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
}
.footer-banner * {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-links {
    padding: 0 32px;
}
.footer-links * {
    padding: 8px;
    align-items: center;
}
.footer * {
    color: white;
    text-decoration: none;
    display: flex;
}
.icon-links {
    transform: scale(1.5);
}
.icon-links:hover {
    animation: hoverFade 0.05s linear forwards;
}
@media screen and (min-width: 0px) and (max-width: 599px) {
    .footer-links {
        display: none;
    }
}