body {
    margin: 0;
    background-color: #ECECEC;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.no-display {
    display: none;
}
.display {
    display: inherit;
}
.input {
    flex-direction: inherit;
    align-items: center;
    margin: 15% 35%;
    width: 30%;
    background-image: linear-gradient(145deg, #2796d8 10%, #da25da 100%);
    border-radius: 5px;
    padding: 20px 0;
    box-shadow: 0 2px 8px 1px #ACACAC;
}
.input input,
.input textarea {
    padding: 12px 20px;
    margin: 8px 0;
    width: 80%;
    box-shadow: 0 2px 8px 1px #8F8F8F inset;
    outline: none;
    border: none;
    border-radius: 10px;
}
.input input {
    font-size: 20px;
}
.input textarea {
    font-size: 16px;
    resize: none;
}
.button-add {
    padding: 12px 32px;
    margin: 16px 0 8px 0;
    border: none;
    background-image: linear-gradient(135deg, #29d324, #23b01f);
    box-shadow: 0 5px 16px 0 #15a156;
    font: bold 20px 'Roboto', sans-serif;
    color: white;
    border-radius: 30px;
}
.button-add:hover {
    background-image: linear-gradient(170deg, #29d324, #23b01f);
}
.entry-list {
    padding: 24px 48px;
    flex-direction: column;
    height: 100vh;
    width: 40%;
    font: 16px 'Roboto', sans-serif;
    border-radius: 10px;
}
.entry-container {
    display: inherit;
    justify-content: space-between;
    align-items: center;
    padding: 8px 32px;
    background-color: #F7F7F7;
    border-radius: 20px;
    box-shadow: 0px 3px 8px 2px #CFCFCF;
    margin: 16px 0;
}
.dummy-entry h2 {
    color: #cf304a;
}
.dummy-entry p {
    color: #424242;
}
.back {
    padding: 8px 32px;
    margin: 20px 0;
    background-image: linear-gradient(45deg, #d9596e, #cf304a);
    border: none;
    border-radius: 3px;
    color: #ECECEC;
    font: bold 20px 'Roboto', sans-serif;
    width: 20%;
    box-shadow: 0 1
    px 3px 1px #ABABAB;
}
@keyframes hover {
    from {transform: scale(2);}
    to {transform: scale(2.3);}
}
.fa-trash-alt, .fa-edit {
    font: bold 16px 'Roboto', sans-serif;
    padding: 4px 8px;
    margin: 0 8px;
    color: #cf304a;
    border: none;
    border-radius: 3px;
    transform: scale(2);

}
.fa-trash-alt:hover, .fa-edit:hover {
    animation: hover 0.1s linear forwards;
}
.back:hover {
    background-image: linear-gradient(160deg, #d9596e, #cf304a);
}