.termsofuse,
.privacypolicy {
    color: #CCCCCC;
    background-color: #0D0D0D;
}
.head h1, 
.table h3, 
.terms h3,
.black {
    color: #EEE;
}
.head {
    padding: 16px 116px;
}
.terms {
    padding: 8px 116px 64px 116px;
}
.table {
    padding: 0 116px;
} 
@media screen and (min-width: 0) and (max-width: 1000px) {
    .head {
        padding: 16px 23px 0 16px;
    }
    .terms {
        padding: 8px 16px 64px 16px;
    }
    .table {
        padding: 0 16px;
    } 
}
.policies {
    padding-bottom: 32px;
}
.terms,
.policies {
    list-style-type: none;
}
.policies li,
.terms li {
    margin: 48px 0;
}
.square li,
.terms ul li {
    margin: 12px 0;
    list-style: square;
}
.privacy-content,
.term-content {
    font: 14px 'Roboto', sans-serif;
}
.contact {
    line-height: 4px;
    font-weight: bold;
}
.middle {
    text-align: center;
}
.bordered,
.bordered tr,
.bordered th,
.bordered td {
    border: 1px solid #555555;
}
.bordered tr,
.bordered th,
.bordered td {
    padding: 16px;
}