/* Footer Settings */
.footer {
    background-color: #313451;
}
.footer-banner {
    background-color: #25273D;
    box-shadow: 0 8px 8px 0 #222;
}
.footer * {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}