body {
    display: grid;
}

/* Grid Global Settings */
@media screen and (min-width: 364px) and (max-width: 1023px) {
    .header h2,
    .accounts {
        display: flex;
    }
    .nav-buttons {
        display: none;
    }
}
@media screen and (min-width: 1024px) {
    .header {
        grid-template-columns: minmax(2.49in, 20%) minmax(5in, 60%) minmax(3in, 20%);
        height: 700px;
        min-height: 1in;
    }
    .header h2,
    .nav-buttons,
    .accounts {
        display: flex;
    }
    .footer {
        grid-template-columns: minmax(3in, 20%) 40% 40%;
    }
}
@media screen and (min-width: 1286px) {
    .content {
        grid-template-columns: repeat(4, 1fr);
        margin: 32px 0;
    }
}
@media screen and (min-width: 1601px) and (max-width: 1924px) {
    .header {
        grid-template-columns: 20% minmax(4in, 60%) 20%;
    }
}
@media screen and (min-width: 864px) and (max-width: 1285px) {
    .content {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin: 32px 10%;
    }
}
@media screen and (min-width: 364px) and (max-width: 863px) {
    .content {
        grid-template-rows: repeat(4, 1fr);
        margin: 32px 10%;
    }
}

/* Query for cards */
@media screen and (min-width: 364px) and (max-width: 700px) {
    .img-box,
    .image {
        border-radius: 3px;
        min-width: 1.5in;
        min-height: 1.5in;
        width: 5vw;
        height: 5vw;
    }
    .content-container {
        min-width: 2.5in;
        width: 10vw;
        min-height: 4in;
        height: 15vh;
    }
}
@media screen and (min-width: 701px) and (max-width: 1924px) {
    .img-box,
    .image {
        border-radius: 3px;
        min-width: 2in;
        min-height: 2in;
        width: 10vw;
        height: 10vw;
    }
    .content-container {
        min-width: 3in;
        width: 10vw;
        min-height: 4.5in;
        height: 15vh;
    }
}

/* Global Styles */
@keyframes fade {
    from {color: white;}
    to {
        color: #FF9700;
        background-image: linear-gradient(to bottom, transparent 95%, #FF9700 5%);
    }
}
@keyframes footerfade {
    to {color:  #FF9700;}
}
@keyframes buttonfade {
    to {
        background-color: #df8400;
    }
}
@keyframes grow {
    to {transform: scale(1.05)}
}
.header,
.footer {
    width: calc(100vw - 17px);
}
.header,
.footer {
    display: grid;
    font: 16px 'Oxygen', sans-serif;
}
.content {
    display: grid;
    row-gap: 32px;
    justify-items: center;
}
.content-container {
    box-shadow: 0px 4px 8px 0 #898989;
}

/* Header Styles */
.header {
    height: 10%;
    position: absolute;
    z-index: 1;
    color: white;
}
.header h2,
.nav-buttons,
.accounts {
    height: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
}
.nav-buttons p {
    display: inherit;
    justify-content: center;
    align-items: center;
    width: 10%;
    min-width: 1.1in;
    height: 0.7in;
}
.accounts * {
    min-width: 1in;
    width: 27%;
    text-align: center;
}

/* Content Styles */
.content-container {
    padding: 0 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #BCBCBC;
    border-radius: 10px;
}
.quote {
    display: inherit;
    justify-content: center;
    align-items: center;
    min-width: 2.5in;
    min-height: 1in;
    width: 5vw;
    text-align: center;
}
.quote-name {
    font: bold 20px 'Roboto Mono', monospace;
}
.img-box {
    background-color: #424242;
    margin: 15% 0 3% 0;
}
.image {
    object-fit: cover;
}
.feature-content {
    background-color: #FBFBFB;
    color: #3e4267;
    font: 16px 'Oxygen', sans-serif;
}

/* Hover Settings */
.header h2:hover {
    cursor: context-menu;
}
.nav-buttons *:hover,
.legal div *:hover,
.links *:hover,
.accounts:hover {
    cursor: pointer;
}
.nav-buttons *:hover {
    animation: fade 0.05s linear forwards;
}
.legal div *:hover,
.links *:hover,
.accounts *:hover {
    animation: footerfade 0.05s linear forwards;
}
.content-container:hover {
    animation: grow 0.1s linear forwards;
}